<div>
	<h2>Host URL</h2>
	<input id="host" />
	<h2>Join URL</h2>
	<input id="join" />
	<h2>Response Code</h2>
	<input id="code" />

	<button id="create">Create</button>
</div>

<script src="~/Scripts/Index.js"></script>

